.piple__list {
    cursor: pointer;
    margin-right: 15px; 
    border: 2px solid grey;
    padding: 10px 20px;
    border-radius: 10px;

}

.piple__list:hover {
    border: 2px solid green;
    color: green;
}